name: Build

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-15]
    runs-on: ${{ matrix.os }}

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4.2.2
      - uses: cachix/install-nix-action@v31.3.0
      - name: Build home-manager flake configuration
        run: |
          nix build -L
